* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    display: flex;
    height: 200px;
    background: black;
}

header > div > a > img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

header > nav {
    background: yellowgreen;
}

header > nav > ul {
    background: red;
}