* {
    margin: 0;
    border: 0;
}

header {
    display: flex;
    height: 200px;
}

header > div#logo > a > img {
    border-radius: 50%;
}

header > div#menu {
    background: grey;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}