body {
    background: #edf1f4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #fff;
}

.btn {
    width: 100px;
    margin: 15px;
    box-shadow: 5px 5px 10px #10a41f;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
}


footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}
