form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: auto;
}

.campos{
    width: 250px;
    height: 30px;
    border: 1px solid #e7e418;
    background: #000000;
    border-radius: 10px;
    padding: 1px 10px;
    color: #e7e418;
}

.botoes{
    font-size: 1.2em;
    border: none;
    margin: 15px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.botoes:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px #e7e41879;
}

.salvar, .cancelar{
    color:#e7e418;
    background: black;
    border: 1px solid #e7e418;
}