{% extends "template.html"%}
{% block conteudo %}

  <form action="{{ url_for('atualizar') }}" method="post">

      <fieldset>

        <input type="hidden" name="id" value="{{ pessoas.id }}">

        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control" value="{{ pessoas.nome }}">
        </div>

        <div class="form-group">
          <label for="categoria">Idade</label>
          <input type="text" id="categoria" name="idade" class="form-control" value="{{ pessoas.idade }}">
        </div>

        <div class="form-group">
          <label for="console">Altura</label>
          <input type="text" id="console" name="altura" class="form-control" value="{{ pessoas.altura }}">
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
      </fieldset>

  </form>

{% endblock %}